<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>futira</title>
    <link rel="stylesheet" href="./css/all.min.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header id="nav">
        <div class="container">
            <nav class="navigation">
                <div class="navigation__toggle">
                    <button id="mob-toggle">
                        <i class="far fa-times"></i>
                    </button>
                </div>
                <div class="navigation__logo">
                    <img src="./images/logo-2.png" alt="" class="img-fluid">
                </div>
                <ul class="navigation__menu">
                    <li> <a href="index.html">home </a> </li>
                    <li> <a href="index.html#what" data-target="what">what </a> </li>
                    <li> <a href="index.html#who" data-target="who">who </a> </li>
                    <li> <a href="index.html#where" data-target="where">where</a> </li>
                    <li> <a href="index.html#when" data-target="when">when </a> </li>
                    <li> <a href="index.html#why" data-target="why">why </a> </li>
                    <li> <a href="index.html#how" data-target="how">how </a> </li>
                    <li> <a href="index.html#media" data-target="media">media </a> </li>

                </ul>
                <ul class="navigation__menu__mobile nav" id="mobile_menu">
                    <li class="mb-3">
                        <div class="">
                            <img src="./images/logo.svg" alt="" class="img-fluid">
                        </div>
                    </li>
                    <li> <a class="nav-link" href="index.html" data-target="home">home </a> </li>
                    <li> <a class="nav-link" href="index.html#what" data-target="what">what </a> </li>
                    <li> <a class="nav-link" href="index.html#who" data-target="who">who </a> </li>
                    <li> <a class="nav-link" href="index.html#where" data-target="where">where</a> </li>
                    <li> <a class="nav-link" href="index.html#when" data-target="when">when </a> </li>
                    <li> <a class="nav-link" href="index.html#why" data-target="why">why </a> </li>
                    <li> <a class="nav-link" href="index.html#how" data-target="how">how </a> </li>
                    <li> <a class="nav-link" href="index.html#media" data-target="media">media </a> </li>

                </ul>
                <div class="navigation__wallet">
                    <a href="index.html#how" class="btn-main"> Buy</a>
                </div>
            </nav>
        </div>

    </header>



    <section class="when position-relative has-word-1 min-height-100" id="faq">
        <div class="container">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            COIN VS TOKENS
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    Each blockchain can have one coin on it. The blockchain is like an exchange (like the Nasdaq stock exchange) with its coin being the currency of the exchange. Tokens are like stocks that can trade on this exchange. In reality, they are defined in terms
                                    of the coin of the exchange. Their trading on the exchange increases the demand on the coin. Tokens can come with dividends or other benefits. Coins are not meant to have any benefits other than their potential appreciatio
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            WHY FUTIRA COIN?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    A quick glance at the utilization of mobile telephony around the globe shows that almost half the world and over 57% of Africa does not have internet. This is not getting better through the introduction of the traditional generations of mobile telephones.
                                    The reason is simple: the infrastructure is expensive. The main concept of a telephone network is in the presence of a central office that routes the calls or the internet packets. These central offices are expensive;
                                    so expensive that should one try to cover all Africa with the current central office technology, one will never recover their investment. This is because of the low density of the population. The solution is to decentralize
                                    the central office through blockchain technology for the user data and smaller switches for the routing of the data. The Inovatian Group of Companies (www.inovatian.com) were founded to realize this dream. They have
                                    worked diligently since 2015 to reduce the infrastructure cost. They did this through a number of innovations: Using higher 4G towers to reach close to the maximum range of the 4G standard (around 30km). Using mesh
                                    Wi-Fi to cover the gaps resulting from the high towers as well as for the denser population areas. Using blockchain to control the authentication and authorization of users

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            TOKEN / COIN SUPPLY
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    The total supply of Futira tokens and coins is 20,000,000,000 (twenty billion). The token contract had ten billion out of these 20 billion. The amount given to the founders will not increase over the two billion given to them from the token supply
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            COIN DISTRIBUTION
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <strong>Inovatian:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1 Billion Futira Coin.</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Initial Investors::</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1 Billion Futira Coin.</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Sold to the public:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1 Billion Futira Coin.</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Coins Available to the Public at Launch:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>10 Billion Futira Coin.</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Total number of Coins authorized to be issued in the future to support
                                    networks:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>20,000,000,000 (twenty billion Futira Coin)</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Lowest fraction of a Futira Coin authorized upon launch:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>0.000001 Futira Coin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Move your FutiraTokens to Binance Smart Chain
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="accordion-body__item">
                                <strong>Step 1:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1- Create your MetaMask Wallet </span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- Follow the instruction in the file <a href="https://futiracoin.com/user-guide/AddBinanceSmartChaintoMetwMask.pdf" style="text-decoration: underline;"> (Add Binance Smart Chain to MetaMask) </a> to add Binance network</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>3- Follow the instruction in the file <a href="https://futiracoin.com/user-guide/ImportFutiraTokentoyourMetaMaskWallet.pdf" style="text-decoration: underline;"> (Import FutiraToken to your MetaMask Wallet) </a> to add FutiraToken to your wallet</span>
                                </div>

                            </div>

                            <div class="accordion-body__item">
                                <strong>Step 2:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>Coordinate with us via one of these contacts on Telegram: - </span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <a href="http://t.me/futiracoinsupport" target="_blank">@FutiraCoinSupport</a>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <a href="http://t.me/arhmetwally" target="_blank">@ArhMetwally</a>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <a href="http://t.me/Moelshak" target="_blank">@Moelshak</a>
                                </div>


                            </div>

                            <div class="accordion-body__item">
                                <div class="accordion-body__item__slide">
                                    <span>1- Send your Tron wallet ID to unfreeze the account</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- After Unfreeze send the amount to TRC20 Wallet ID TP9VMBtcdo4SBrT6e9e1XmTiemFE3MwrR1 (You need to have some TRX so you can send it)</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>3- Send a Screenshot of the transaction you did.</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>4- Send your MetwMask Wallet ID</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>5- We will provide you with the data to check your amount of Claiming Time.</span>
                                </div>

                            </div>
                            <div class="accordion-body__item">
                                <strong>Notes:</strong>
                                <div class="accordion-body__item__slide">
                                    <span> <span style="font-weight: bold;">  Claiming time: </span> The time that you will receive your amount on your Wallet, then you can tradeit onthe market.</span>
                                </div>



                            </div>

                        </div>

                    </div>

                </div>
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTherteen" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Add Binance Smart Chain to MetaMask
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseTherteen" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="accordion-body__item">
                                <div class="accordion-body__item__slide">
                                    <p>Follow the instruction in the file <a href="https://futiracoin.com/user-guide/AddBinanceSmartChaintoMetwMask.pdf" style="text-decoration: underline;"> (Add Binance Smart Chain to MetaMask) </a> to add Binance network</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Import FutiraToken to your MetaMask Wallet
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="accordion-body__item">
                                <div class="accordion-body__item__slide">
                                    <p>Follow the instruction in the file <a href="https://futiracoin.com/user-guide/ImportFutiraTokentoyourMetaMaskWallet.pdf" style="text-decoration: underline;">  ( Import FutiraToken to your MetaMask Wallet) </a> to add
                                        FutiraToken to your wallet</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Why can’t I see my token in my wallet after moving to Binance Smart Chain?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    The way that Futira Contract on Binance Smart Chain works is different from than Tron contract, youwill receive your amount only on your vesting date.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Can I see my Tokens on my wallet before the vesting date?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    No, but you check this by using the contract ( we will provide the way)
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Why did I need to Claim tokens?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    You need to claim your tokens because your token has already been transferred to the contract address wallet, and it’s no longer on the Owner's wallet, and he doesn’t have any control over it, soyou are the only one who can claim his token.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            How to Claim your Tokens?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">

                                <div class="accordion-body__item__slide">
                                    <span>1- Wait until claiming time became (You will receive this on your transaction data)</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- Open Futira Binance Smart Chain contract address (Write part) on your browser using this <a href="https://bscscan.com/token/0x660c31acabc91304d8c2ce058dc8df6773ffbaf8#writeContract" target="_blank" style="text-decoration: underline;">link</a>  </span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>3- Ensure that you have logged in by your wallet in the browser (Extension)</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>4- Ensure that you have some BNB in your wallet so you can sign your claiming
                                        transaction.</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>5- Go to function number one in the contract its name is Claim</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <img src="images/FAQ/screenshot 1.PNG" class="img-fluid" />
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>6- Click on write.</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>7- Sign the transaction</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>8- You will receive your amount in your wallet.</span>
                                </div>
                            </div>
                            <div class="accordion-body__item">
                                <strong>Notes:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1- if you don’t have BNB you can’t sign your transaction</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- If you got red alert Screenshots(2) that may mean that the claiming time didn’t come yet.</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <img src="images/FAQ/screenshot 2.PNG" class="img-fluid" /> </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            How I can see my vesting transactions?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="accordion-body__item">
                                <strong>If you have a vesting transaction you can check t by visiting our contract Read Part:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1- Go to Read part of the contract by this <a href=" https://bscscan.com/token/0x660c31acabc91304d8c2ce058dc8df6773ffbaf8#readContract" target="_blank" style="text-decoration: underline;"> link </a></span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- Scroll down to Function number 10 (getWalletVests).</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>3- Put your wallet ID</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>4- Click on Query</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>5- You will get a result :</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <img src="images/FAQ/screenshot 3.PNG" class="img-fluid" />

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- Line number one is the amount of Futira. ( With 18 Decimals, the real amount you should remove last 18 zero)</span>

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- Line number two is the number of vesting transactions</span>

                                </div>


                            </div>

                        </div>

                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            How I can see the amount on a specific transaction?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="collapseFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="accordion-body__item">
                                <strong>You can do this if you have the transaction ID visit our contract Read Part:</strong>
                                <div class="accordion-body__item__slide">
                                    <span>1- Go to Read part of the contract by this <a href=" https://bscscan.com/token/0x660c31acabc91304d8c2ce058dc8df6773ffbaf8#readContract" target="_blank" style="text-decoration: underline;"> link </a></span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>2- Scroll down to Function number 9 (getVestingTrasnaction)</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>3- Put Transaction ID</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>4- Click on Query</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>5- You will get a result :</span>
                                </div>
                                <div class="accordion-body__item__slide">
                                    <img src="images/FAQ/screenshot 4.PNG" class="img-fluid" />

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- address : (Wallet Address)</span>

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- uint256: Amount of Futira</span>

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- string : ( status of the transaction) usually you will find it Approved</span>

                                </div>
                                <div class="accordion-body__item__slide">
                                    <span>- uint256: Vesting time by Unix format you can convert it to human time by this
                                        website: <a href="https://www.epochconverter.com/" target="_blank" style="text-decoration: underline;" >https://www.epochconverter.com/ </a>  or you can ask one of our support team on Telegram.</span>

                                </div>



                            </div>

                        </div>

                    </div>
                </div>

                <div class="accordion-item border-main">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree" style="text-transform: uppercase;">
                            Can I trade Futira Token?
                            <i class="fal fa-chevron-down"></i>
                        </button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="accordion-body__item">
                                <p>
                                    Yes, you can start trading Futira Token on 10 April</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-decoration">
            <img src="images/FAQ-lg.svg" alt="">
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-6 col-xs-12 px-5 mt-3">
                    <div class="">
                        <h5 class="title">FUTIRA</h5>
                        <ul class="nav quick-link">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#what">WHAT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#where">WHERE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#why">WHY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#media">MEDIA</a>
                            </li>
                        </ul>
                        <ul class="nav quick-link">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#who">WHO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#when">WHEN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="index.html#how">HOW</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 px-5 mt-3">
                    <div class="Subscribe">
                        <!-- <form class="row g-3">
                            <div class="col-auto w-25 mt-4">
                                <h5 class="subtit mt-1 mb-0">SUBSCRIBE</h5>
                            </div>
                            <div class="col-auto w-50">
                                <input type="text" class="form-control input-subscribe" id="inputtext2"
                                    placeholder="Your email address">
                                <p class="mt-2">Subscribe to our newsletter today to receive updates on the
                                    latest news about Futira Coin</p>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary send">SEND</button>
                            </div>
                        </form> -->
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="subtit mb-0">OUR BRAND</h5>
                            <a href="https://drive.google.com/drive/folders/1sfNQ9XoZ9svkeuZq16PegvoDSRXF6bsl" target="_blank" class="btn btn-primary w-75 download">DOWNLOAD BRAND ASSETS</a>
                        </div>
                        <div class="mt-5 d-flex align-items-center justify-content-between">
                            <h5 class="subtit mb-0">OUR CLAN</h5>
                            <nav class="nav social-icon">
                                <a class="nav-link px-3" target="_blank" href="https://www.youtube.com/channel/UCRvrRaAc2GaVtRX0CKaEDoA"><i
                                        class="fab fa-youtube"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://www.instagram.com/FutiraCoin/"><i
                                        class="fab fa-instagram"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://twitter.com/FutiraCoin/"><i
                                        class="fab fa-twitter"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://www.facebook.com/FutiraCoin/"><i
                                        class="fab fa-facebook"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://www.linkedin.com/company/futira-coin/"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://discord.com/channels/928762588345561198/928762588345561201"><i
                                        class="fab fa-discord"></i></a>
                                <a class="nav-link px-3" target="_blank" href="https://t.me/futiracoinsupport"><i
                                        class="fab fa-telegram-plane"></i></a>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <div class="copy-right">
                <p class="mb-0 py-4">2022 © All rights reserved by
                    <a href="futiracoin.com"><img src="images/logo-2.png" width="100" alt=""></a>
                </p>
            </div>
        </div>
    </section>

    <!-- Contact us Model-->
    <div class="modal fade" style="padding-top: 70px;" id="contactModel" tabindex="-1" role="dialog" aria-labelledby="contactModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body how">

                    <form class="gform" name="form1" action="https://script.google.com/macros/s/AKfycbxwF9WVJVjfX4aph5fPnKJcfWEbwdiUwv7UpRSK/exec" method="POST" onsubmit="return submitUserForm();">
                        <div class="input-container">
                            <div class="row">
                                <div class="col center">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <input type="email" class="form-control" placeholder="email" aria-label="email" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center">
                                    <h5>Full Name</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name" aria-label="full name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center">
                                    <h5>Mobile number</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <input type="tel" name="phonenumber" id="phonenumber" class="form-control" required placeholder="Mobile number with country code " aria-label="mobile number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center">
                                    <h5>QUANTITY</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <input type="number" required name="Quantity" id="Quantity" class="form-control" required placeholder="Quantity" aria-label="QUANTITY">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center">
                                    <h5>YOUR METAMASK WALLET ID</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <input type="text" required name="WalletID" id="WalletID" class="form-control" placeholder="Your  metamask Wallet ID" aria-label="YOUR METAMASK WALLET ID">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col center">
                                    <h5>PAYMENT METHOD</h5>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <select name="PaymentMethod" id="PaymentMethod" class="form-select" aria-label="cash">
                                        <option selected value="Cash">Cash</option>
                                        <option value="Western union">Western union</option>
                                        <option value="Bank Transfer">Bank Transfer</option>
                                        <option value="Cryptocurrency ">Cryptocurrency </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <span>Need more help ? Chat with us or <a href="mailto:Buycoin@futiracoin.com">send
                                            email.</a></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback="verifyCaptcha"></div>
                                    <div id="g-recaptcha-error"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end">
                                    <button type="button" class="btn-second large color-white background-main m-3" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" onclick="alphanumeric(document.form1.WalletID)" class="btn-second large color-white background-main" value="send">

                                </div>
                            </div>

                            <div style="display:none" class="thankyou_message">
                                <!-- You can customize the thankyou message by editing the code below -->
                                <h2 class="text-center" style="color: blueviolet;"><em>Thanks</em> for contacting us! We will get back to you soon!
                                </h2>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!---->

    <script src="js/pro.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="vendor/gsap/dist/gsap.min.js"></script>
    <script src="vendor/gsap/dist/flip.min.js"></script>
    <script src="js/app.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function() {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/618b64266bb0760a4941ee98/1fk47ue1n';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->



</body>

</html>